html
  head
    title ePortfolio
    link(rel='stylesheet', href='styles.css')
  body
    div.container
      h1.test About
      a(href="home")
        button(type="button").btn Home
      a(href="contact")
        button(type="button").btn Contact
      a(href="portfolio")
        button(type="button").btn Portfolio
      a(href="about")
        button(type="button").btn About
