html
  head
    title ePortfolio
  body
    h1 About
    a(href="home")
      button(type="button") Home
    a(href="contact")
      button(type="button") Contact
    a(href="portfolio")
      button(type="button") Portfolio
    a(href="about")
      button(type="button") About
